$primary: #2e7b70;
$secondary: #f88d2b;
$text-light: #53372a;
$text-dark: #ffffff;
$background-light: #fff8f5;
$background-dark: radial-gradient(#070709 0%, #0a0a15 100%);
$red-hat-text: "Red Hat Text", sans-serif;

$border-color: #1a1a1a;
$button-color: #070710;
$card-background: radial-gradient(#070709 0%, #090910 100%);

:root {
  font-family: $red-hat-text;
  color: $text-dark;
  background-image: $background-dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: $primary $button-color;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: $button-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 0.5rem;
    border: 3px solid $button-color;
  }

  a {
    color: #fff8f5;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }

  .profile-picture {
    border-radius: 100%;
    border: solid 1px $border-color;
  }

  .dot-alert {
    position: absolute;
    display: inline-flex;
    width: 8px;
    height: 8px;

    .dot {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $secondary;
      
      &.animate {
        background-color: $secondary;
        opacity: 0.75;
        animation: ping 1.5s infinite ease-in-out;
      }
      @keyframes ping {
        0% {
          transform: scale(1);
          opacity: 0.75;
        }
        100% {
          transform: scale(2);
          opacity: 0;
        }
      }
    }
  }
}
