@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #6673626d;
}
img {
  position: absolute;
  height: 100%;
  width: 100%;
  color: transparent;
}
