$primary: #2e7b70;
$secondary: #f88d2b;
$text-light: #53372a;
$text-dark: #ffffff;
$background-light: #fff8f5;
$background-dark: radial-gradient(#070709 0%, #0A0A15 100%);
$red-hat-text: "Red Hat Text", sans-serif;

:root {
  font-family: $red-hat-text;
  color: $text-dark;
  background-image: $background-dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  a {
    color: #fff8f5;
  }
}
